body{
    margin: 0;
    background: #353535;
}
#slider{
    width: 100%;
    height: 500px;
}
#timer {
    margin-top: 30px;
    border: 2px solid gold;
    width: 100px;
    height: 100px;
    background-color: black;
    animation: slide 10s infinite;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#timer:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: black;
}
#timer_body{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #353535;
    position: relative;
    border: 2px solid gold;
    overflow: hidden;
    animation: timer_shape 10s infinite;
}
#timer_counter{

}
#timer_counter span{
    color: azure;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    animation: counter 10s steps(9, end) infinite;
}
#hey{
    font-size: 25px;
    margin: 0;
    width: 100px;
    height: 100px;
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes slide {
    0% {
        left: 0;
        top: 300px;
    }
    25%{
        border-radius: 50%;
        top: 0;
    }
    50%{
        rotate: 360deg;
        left: 100%;
        top: 300px;
    }
    75%{
        rotate: none;
        left: 0;
        top: 0;
    }
    100%{
        top: 300px;
    }
}
@keyframes timer_shape {
    0%{
        border-radius: 0;
    }
    25%{
       border-radius: 50%;
    }
    100%{
        border-radius: 0;
    }
}
@keyframes counter {
    0%{
    }
    100%{
        transform: translate(0px, -450px);
    }
}