body{
    margin: 0;
    background: #353535;
}
#slider{
    width: 1255px;
    height: 500px;
}
#circle {
    margin-top: 30px;
    border: 2px solid gold;
    width: 100px;
    height: 100px;
    background-color: black;
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: relative;
}
#hey{
    font-size: 25px;
    margin: 0;
    width: 100px;
    height: 100px;
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes slide {
    0% {
        left: 0;
        top: 300px;
    }
    25%{
        border-radius: 50%;
        top: 0;
    }
    50%{
        rotate: 360deg;
        left: 100%;
        top: 300px;
    }
    75%{
        rotate: none;
        left: 0;
        top: 0;
    }
    100%{
        top: 300px;
    }
}